  /* PROFESSIONAL RESOURCES */

.employment-resources {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 60px auto 0 auto;
  width: 90%;
  opacity: 0;
}

.animate-employment-resources {
  animation: animate-employment-resources 1s ease-out forwards;

  @keyframes animate-employment-resources {
      from {
          opacity: 0;
      }
    
      to {
          opacity: 1;
      }
  }
}

.custom-shape-divider-bottom-1642098290 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1642098290 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 51px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1642098290 .shape-fill {
    fill: #FFFFFF;
}