 /* LANDING PAGE */
  
 .homepage {
    background-color: #cfecff;
    padding-top: 120px;
    position: relative;
    height: 100vh;

    .intro-banner {
      text-align: center;
      margin: 0 auto 0 auto;
      font-family: "Caveat", cursive;
      font-size: 5.625rem;
      color: #3f93e8;
    }

    .sub-intro-banner {
      text-align: center;
      margin: 0;
      font-family: "Montserrat", sans-serif;
      font-size: 3rem;
      color: #3f93e8;
      font-weight: 900;
    }
  }

  .homepage-text {
    margin-top: 10vh;  
  }

  .custom-shape-divider-bottom-1642097161 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    z-index: 1;
  }

.custom-shape-divider-bottom-1642097161 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 96px;
}

.custom-shape-divider-bottom-1642097161 .shape-fill {
    fill: #FFFFFF;
}
  
  .top-container h2 {
    font-style: italic;
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }